body {
	margin: 0;
	padding: 0;
	background-color: black;
}
.wraper {
	margin-top: 100px;
	position: relative;
	background: #000 url(../img/city.jpg);
	height: 60vh;
	background-repeat: repeat-x;
	background-size: cover;
	animation: animacia 10s linear infinite;
}
.car {
	position: absolute;
	bottom: -60px;
	left: 10px;
}
@keyframes animacia {
	form { background-position: 0 0; }
	to { background-position: 100% 0; }

}